.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.companyLogo {
  width: 70%;
  height: auto;
  margin-right: 10px; /* Adjust the margin as needed */
  padding-right: 10px; /* Adds some space between the line and the image */
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
}

.carousel .slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .slide img {
  width: 100%;
  height: auto;
}

.carousel .legend {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color as needed */
  color: white; /* Adjust the text color as needed */
  padding: 10px 20px;
  margin: 0;
  display: inline-block; /* Wrap the background around the content */
}

.carousel .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); Adjust the background color as needed */
  color: white; /* Adjust the text color as needed */
  padding: 10px;
  margin: 0;
}

.banner-row {
  background-image: url('/src/images/stockplaystation3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  /* rounded corners */
  border-radius: 10px;
  /* streach image to fit entire web page */
  width: 100%;
  
}

.custom-mb {
  margin-bottom: 200px;
}

.service-button{
  margin-left: 100px;
  padding-top: 10px;
}

.stockphoto {
  width: 70%;
  height: auto;
}

.stockplaystaion {
  width: 85%;
  height: auto;
}

.nav-link{
  margin-left: 10px;
}

