.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.companyLogo {
  width: 20%;
  height: auto;
  margin-right: 10px; /* Adjust the margin as needed */
  border-right: 3px solid black; /* Adds the vertical line */
  padding-right: 10px; /* Adds some space between the line and the image */
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
}

.carousel {
  width: 100%;
  height: 800px; /* Adjust the height as needed */
}

.carousel .slide img {
  width: 100%;
  height: 100%;
}

.carousel .legend,
.carousel .header {
  color: black; /* Set the color of the caption text and header */
  font-size: 18px; /* Adjust the font size as needed */
  text-align: center;
  margin: 10px;
}
